.checkbox-row {
    display: flex;
    align-items: flex-start;
    margin-bottom: 16px;
  }
  
  .real-checkbox {
    width: 0;
    height: 0;
    position: absolute;
    opacity: 0;
    z-index: -1;
    appearance: none;
  }
  
  .custom-checkbox {
    display: inline-block;
    flex-shrink: 0;
    position: relative;
    vertical-align: bottom;
    margin-right: 14px;
    width: 20px;
    height: 20px;
    background: #eeeeee;
    border: 1px solid #c0c0c0;
    border-radius: 2px;
  }
  
  .custom-checkbox::before {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 17px;
    height: 17px;
  
    background-image: url("../img/icons/check.svg");
    transition: transform 0.2s ease-in;
  }
  
  .real-checkbox:checked + .custom-checkbox::before {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .real-checkbox:focus + .custom-checkbox {
    border: 1px #2ab698;
    box-shadow: 0 0 0px 1px #333;
  }